.profile-img {
  max-width: 420px;
  border-radius: 18px;
  -webkit-mask-image: radial-gradient(circle, #000 65%, transparent 100%);
  mask-image: radial-gradient(circle, #000 65%, transparent 100%);
}
