.sidebar {
  position: fixed;
  top: 100px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
}

.sidebar a {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  color: #888;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #e0e0ff;
  color: #6c63ff;
}
